/*para evitar de ficarmos repetindo algumas propriedades*/
:root{
    --title-color: #322153;
    --primary-color: #34cb79
}

/*vai pegar todos os seletores*/
*{
    margin: 0;
    padding: 0;
    /*pra limitar melhor o tamanho do padding q vamos aplicar
    basicamente estamos limitando o tamanho das caixas pela bordas das mesmas*/
    box-sizing: border-box;
}

html{
    font-family: Roboto, sans-serif;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a{
    /*para tirar a linha de baixo*/
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family:  Ubuntu, sans-serif;
    color: var(--title-color);
}

/* Box Model

Modelo de caixa
Toda caixa tem:
Largura, altura, espaçamentos, preenchimentos,
bordas, cor, fundo, maneira que é vista pelo html (display)
posicionamento, alinhamentos
*/